.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: .1rem;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
}

.title,
.description {
  text-align: center;
  font-family: 'noscrape-obfuscated';
}

.description {
  margin: 4rem 0;
  line-height: 1;
  font-size: 1rem;
}

.links {
  margin: 4rem 0;
  line-height: 1;
  font-size: 1rem;
  font-family: 'noscrape-obfuscated';
}

.links a {
  color: #008;
}